NEO4J_URL="neo4j://localhost:7687"
NEO4J_PASS=nuvola123!
NEO4J_AUTH="neo4j/${NEO4J_PASS}"

# Localstack configuration
DEBUG=1
PERSISTENCE=1
S3_HOSTNAME=localhost
AWS_PROFILE=""
AWS_DEFAULT_REGION=eu-west-1
AWS_ACCESS_KEY_ID=test
AWS_SECRET_ACCESS_KEY=test